{% includes 'main/header.html' %}

<!-- row tags -->
<!-- 1 feature- note cards (simple and hoverables) -->

{% block content %}
  {% load bleach_tags %}
  <div class="row">
    {% for note in notes %}
      <div class="col s12 m6"></div>
        <div class="note hoverable">
          <div class="note-content">
           <span class="card-title">{{note.notepad_title}}</span>
           <p style="font-size:70%">Published {{note.notepad_published}}</p>
           <p>{{note.notepad_content|bleach}}</p>  <!-- used a bleach filter so HTML is not displayed as plain text -->
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}
